html {

}

body {
  color: gray;

  width: 100%;
  height: auto;
font-family: "Helvetica", sans-serif;
margin: 0;
padding: 0;
}

a {
  color: blue;
}

h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
  font-weight: bold;

  padding-top: 2rem;
}

h3 {
  font-size: 1.2rem;
  color: black;
}

p {
  font-size: .9rem;
  line-height: 1.4;
}

  /*Header*/

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 64px;
    z-index: 1;
    background-color: white;
    font-family: "Verdana", sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }


.logo-title {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 1.5rem;
}

header nav span {
  padding-right: 1.5rem;
}


/* Banner Section */

.banner {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: #DCB947;
  margin-top: 4rem;

  padding: 2rem 1.5rem;

}

.banner img {
width: 60%;
height: auto;

}

.banner-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 2rem;
  align-items: center;
  text-align: center;

}

.banner-text h2 {
text-transform: uppercase;

}



.button {
  margin: 2rem 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 8rem;
}

.button:hover {
  background-color: #030AFA;
  transition-duration: 1s;

}


  /*Article and Information Section*/

  .information-article {
    background-color: #EFEFEF;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem 1.5rem;
  }

  .information-article .article {
    display: flex;
    flex-direction: column;
    max-width: 60%;
color: black;
  }

  .article img {
    width: 100%;
    height: auto;

  }



.title {
   padding-top: 2rem;
    font-size: .8rem;
  }

  .card-column {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: auto;
    margin-left: 2rem;
    justify-content: space-between;
  }

.card {
  display: flex;
  flex-direction: row;
  background-color: #E0DEE1;
  padding: 1rem;
  align-items: center;
}

.card:hover {
  background-color: white;
}

  .card img {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: auto;
    align-items: center;
  }

.event-text {
    padding-left: 1rem;
color: black;
    display: flex;
    flex-direction: column;
  }

  .event-text a {
    color: #4A90E2;
    text-decoration: none;
    font-size: .85rem;
    padding-top: .5rem;
  }

  .event-text h3 {
      padding-bottom: .5rem;
    }




  /*Start Learning Section*/

.start-learning-section h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-weight: bold;

  }

.start-learning-section {
  width: 100%;
  background-color: lightgray;
  padding: 2rem 2rem;
}

.learning-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

.learning-card {
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.learning-card-image img {
display: flex;
 width: 100%;
 height: auto;
}

.bottom-learning-card {
  background-color: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.bottom-learning-card p {
  padding-bottom: .5rem;
}

.bottom-learning-card h3 {
  padding-bottom: 1rem;
}

  /*Thesis Exhibit*/

.thesis-exhibit {
  width: 100%;
  background-color: white;
  padding: 2rem 1.5rem;
}

.thesis-exhibit h2 {
  text-align: center;

  padding-bottom: 2rem;

  font-weight: bold;
}

.content-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.exhibit-column-1 {
  display: flex;
  max-width: 60%;
  height: auto;
  flex-direction: column;
}

.exhibit-column-1 video {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.exhibit-column-2 {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  margin-left: 1.5rem;
}

.exhibit-card {
  width: 100%;
  padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin-bottom: .5rem;
    align-items: center;
}

.exhibit-card:hover {
  background-color: white;
}
  .exhibit-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    align-items: flex-start;
    margin-left: 1rem;
    flex-wrap: wrap;

  }

.exhibit-card-text h3 {
padding-bottom: .5rem;

}

.exhibit-card img {
  width: 35%;
align-items: center;
  height: auto;


}



  /*Footer*/

footer {
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  border-top: 1px solid lightgray;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

}

.copyright {
  align-items: center;
  font-size: 12px;
}

.terms-privacy {
  align-items: center;
}

.terms-privacy li {
margin-left: 1rem;
  display: inline;
}
