html {
  margin: 0;
  padding: 0;
}

body {
  color: gray;
  width: 100%;
font-family: "Helvetica", sans-serif;
margin: 0;
padding: 0;
}

a {
  color: blue;
}

h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2rem;
}

h3 {
  font-size: 1.2rem;
  color: black;
}

p {
  font-size: .9rem;
  line-height: 1.4;
}

  /*Header*/

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 64px;
    z-index: 1;
    background-color: white;
    font-family: "Verdana", sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
  }

  /*not sure I need this yet*/
.container {
  padding: 16px 24px;
  width: 1232px;
  margin: auto;
}

.logo-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}


nav {
display: flex;
align-items: flex-end;

}

nav span {
  padding-right: 24px;
}


/* Banner Section */

.banner {
  background-color: #DCB947;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.banner img {
width: 60%;
height: auto;
padding: 2rem 1.5rem;
}

.banner-text {
  width: 40%;
  padding: 2rem 1rem;

}



.button {
  margin: 2rem 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 8rem;
}


  /*Article and Information Section*/

  .information-article {
    background-color: white;
    max-width: 100%;
    display: flex
    flex-direction: row;
    padding: 2rem 1.5rem;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
  }

  .article img {
    width: 100%;
    height: auto;
  }

.title {
   padding-top: 2rem;
    font-size: .8rem;
  }

  .card-column {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: row;
    max-width: 40%;
    height: auto;
  }

.card-images {
    width: 35%;
    height: auto;
  }

  /*Start Learning Section*/

.start-learning-section h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  }

.start-learning-section {
  width: 100%;
  background-color: lightgray;
  padding: 4.5rem 2rem;
}

.learning-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

.learning-card {
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.learning-card-image img {
 width: 100%;
 height: auto;
}

.bottom-learning-card {
  background-color: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.bottom-learning-card p {
  padding-bottom: .5rem;
}

h3 .bottom-learning-card  {
  padding-bottom: 0;
}

  /*Thesis Exhibit*/

.thesis-exhibit {
  width: 100%;
  background-color: white;
  padding: 2rem 1.5rem;
}

.thesis-exhibit h3 {
  text-align: center;

  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.content-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.exhibit-column-1 {
  display: flex;
  max-width: 60%;
  height: auto;
  flex-direction: column;
}

.exhibit-column-1 video {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.exhibit-column-2 {
  display: flex;
  justify-content: space-between;
  max-width: 40%;

  flex-direction: column;
  margin-left: 1.5rem;
}

.exhibit-card {
  width: 100%;
padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin-bottom: .5rem;
}

.exhibit-card img {
  width: 35%;
  height: auto;

}

.exhibit-card-text {
  width: 65%;
  align-items: center;
  padding-left: 1rem;
}
